[2021-10-01 02:08] ghost opened #2 "[Suggestion] Selecting a header to return to the Explorer page for that concept"
On an image page for a concept, it feels natural to want to click on the header name to return to the Explorer gallery so that I can continue browsing through the rest of the entries via the Explorer. You can currently do that by clicking "Explorer" or the magnifying glass on the navigation menu, but that wasn't immediately known.

For example, clicking on the large bold "Lampocteis cruentiventer"

[2021-10-01 05:36] ghost opened #3 "[Error] Unexpected end of JSON input / Failed to fetch"
When attempting to submit my first .csv, I received a couple of errors (see below)

Is this an issue with my .csv or write access related?

**chirotest.csv**:

[code]

![Screen Shot 2021-09-30 at 10 27 43 PM](https://user-images.githubusercontent.com/91396350/135570532-611a9f96-bde1-4f40-8f85-e63d93ed32f0.png)
![Screen Shot 2021-09-30 at 10 28 21 PM](https://user-images.githubusercontent.com/91396

[2021-10-01 18:00] kakanikatija commented on #3
Hi Dan! I think this is linked to write access. I sent you an email about that earlier today. Will gladly go over all this with you when we meet to discuss in a few weeks. Keep the feedback coming!

[2021-10-01 18:00] #3 closed, assigned to nobody

[2021-10-01 18:02] kakanikatija commented on #2
That's a great idea! Keep your UI suggestions coming. We're hoping to aggregate these suggestions and discuss them during a community roundtable (that has yet to be scheduled) soon.

[2021-10-01 21:21] megancromwell opened #4 "Broken page or link."
The "See the collection" from the main page which sends me here:
https://fathomnet.org/fathomnet/#/explorer?mode=tree&region=Global

[2021-10-01 21:21] hohonuuli commented on #3
@tropicofdan Thanks for letting us know about that. We're still working out how to grant elevated permissions to user accounts. But new accounts really shouldn't be seeing that button. As @kakanikatija mentioned, the server will reject upload attempts for users without the correct access permissions.

[2021-10-01 21:23] hohonuuli commented on #4
Oops! Thanks for letting us know.

[2021-10-01 21:36] ghost commented on #3
@hohonuuli Roger, thanks for the heads up. As for write access, it was discussed with @kakanikatija earlier in the day and we're good to go on that for now.

[2021-10-01 21:45] hohonuuli commented on #4
Changed it to <http://fathomnet.org/fathomnet/#/explorer>

[2021-10-01 21:45] #4 closed, assigned to nobody

[2021-10-01 23:48] ghost opened #5 "[Suggestion] Concept tree and all descendants as default view / search for taxonomic rank on tree with no entry"
At the moment, if you search for "Bathocyroidae" or higher-ranking concepts, you get a "no data available" message if there's no specific entry for it. Or, if you come across it on the home page as seen below, the map view and results give the impression that there's no data available for the family at all unless you manually go into the concept tree (see below).

I don't know if it's possible, bu

[2021-10-02 05:15] kakanikatija opened #6 "#Contributors on the home page??"
I'm not sure what number the number of contributors statistic is displaying on the home page. At this point, there should only be ~3 contributors, correct?

[2021-10-02 05:23] kakanikatija opened #7 "FathomNet favicon"
We should replace the favicon (or whatever it's called) on fathomnet.org. Currently it's MBARI's. I have the file when you need it @hohonuuli.

[2021-10-04 19:42] ghost opened #8 "[Note] The Downloads and Submissions sections of our user profile"
I just wanted to give a heads up in the event that we're not supposed to see this in there.

• Within our user profile, under Downloads, there's 3 of the same collection. If you download any of them, it's just an .html file that says "Loading FathomNet".

• Under Submissions, there's a long list of collections from @hohonuuli. I'm able to see a menu where I can potentially verify or reject—I didn'

[2021-10-04 22:15] hohonuuli commented on #8
@tropicofdan Thanks for the heads up.

Notes for myself:
- Mark as verified and Reject aren't wired up yet, so they don't actually do anything at the collection level.
- Server side security is already in place and won't allow users without the appropriate roles to make those actions. So the web UI I will fail for most users.
- Read/Write roles should not be shown this page. Need to make that chan

[2021-10-04 22:37] hohonuuli commented on #8
Re: Downloads, that's just a placeholder for now (i.e. we're beta :-)

[2021-10-06 15:33] hohonuuli commented on #6
@kakanikatija Yep, that's wrong. It's showing the number of user accounts. We have to make a choice here:

1. Show the number of people who have uploaded data. I think the only folks who've uploaded data are me and @BGWoodward.
2. Show the number of `observers`. That would be the folks who actually made the annotations. The current count is 154.

I'd lean towards number 2. Let me know what you thi

[2021-10-06 17:06] kakanikatija commented on #6
Let’s go with 2. Of course that assumes people will fill out the observer field, right?

[2021-10-06 22:09] jeffday opened #9 "page load time feature request"
howdy y'all

apologies if this is already on your radar/roadmap. given that the majority of images being served from fathomnet are quite large, and that thumbnails are dynamically resized versions of the full-res image, loading a page of thumbnails can be slow. the network tab from pulling a page of thumbnails for 'atolla' shows i'm downloading about 12MB of images:

![Screen Shot 2021-10-06 at 5

[2021-10-06 22:33] hohonuuli commented on #9
Yes. Thanks for pointing out we're lazy programmers. ;-)

Just some notes. Thumbnails will likely come later (maybe). Also, because the focus of FathomNet is machine learning rather than content delivery, we (MBARI) are avoiding the use of jpg to minimize compression artifacts. (PNGs are lossless, JPGs are lossy)

[2021-10-06 22:36] hohonuuli commented on #9
Note that in MBARIs internal annotation systems, we do maintain both a JPG and PNG to use for different applications (e.g. content delivery vs ML). For simplicity we decided not to do that in the first iteration of FathomNet.

[2021-10-06 22:41] jeffday commented on #9
Yeah, the prioritization and design process make total sense, just wanted to put something down in words in the off-chance it hadn't been considered. Thanks for the quick reply, Brian!

[2021-10-06 22:41] #9 closed, assigned to nobody

[2021-10-12 18:49] kakanikatija commented on #5
I think that's a great suggestion @tropicofdan. If you don't populate the taxonomy provider, it will automatically show results for all descendants. Curious what @hohonuuli thinks about this.

[2021-10-12 20:55] kakanikatija opened #10 "Home page improvements"
We should move database statistics up to the second item on the home page, and it would be good to link to FathomNet's twitter roll.

[2021-10-12 20:56] kakanikatija opened #11 "Privacy policy"
The privacy policy is currently linked to MBARI's.

[2021-10-13 06:56] ghost commented on #5
Thanks @kakanikatija. I was thinking about how I use the DSG and it's not very often that I'm searching for something extremely specific—usually I'm searching pretty broadly so that I can narrow it down based on what I'm seeing. But I know that some might be using FathomNet _completely_ differently.

A small related idea: for the concept tree search, maybe it'd be better to have the two options as

[2021-10-14 12:55] kakanikatija opened #12 ""Unsecured" website"
Perhaps something we need to fix
<img width="933" alt="Screen Shot 2021-10-14 at 5 53 37 AM" src="https://user-images.githubusercontent.com/26979643/137321391-c5b4af04-519c-4bd0-82ea-32f23518083e.png">

[2021-10-14 15:29] hohonuuli commented on #12
It is. I even have the signing certificate for it. When i applied TLS to both the website and the microservice, things stopped working. Browser security is not my forte :-(

[2021-10-17 20:26] ghost opened #13 "[Suggestion] Portraits and short bios on the "About us" page"
Considering some of the recent discussion, I was thinking that it'd be nice to see portraits and a small bio (similar to MBARI) on the "About us" page so that people can visually know that there are real human beings with their own scientific expertise and love for the ocean working on FathomNet. It might help in a small way to create more of a personal connection with others who are unfamiliar wi

[2021-10-19 21:33] eor314 opened #16 "Add links to Huggingface from FathomNet webpage"
Since we'll be recommending that users post their models via Zenodo, we should add a link to the Zenodo community on the webapage. Specifically in **Join the FathomNet Community** item 5 and the **Quick External Links** list on the about page.

This one will do the trick: https://zenodo.org/communities/fathomnot/?page=1&size=20

[2021-12-06 20:33] kakanikatija opened #17 "morphocluster UI for quality control in FathomNet"
Good to implement for rapid QC of FathomNet submissions: https://arxiv.org/abs/2005.01595

[2021-12-21 17:34] kakanikatija opened #18 "adding use cases to FathomNet"
add "new" challenges to root directory with links to benchmarks

[2021-12-21 17:57] kakanikatija commented on #18
FathomNet: high-level summary of popular use cases

topics:

- object detector without class output
- midwater vs. benthic images
- vulnerable marine ecosystems
- same same but different (siamese model)
- midwater transects
- benthic transects
- distribution shifts

[2021-12-21 17:58] kakanikatija opened #19 "preliminary coverage estimates of uploaded data"
run supercategory detector on incoming data to improve/verify coverage of newly uploaded data

[2022-01-11 17:38] hohonuuli opened #20 "Run Mega (lodon) detector on new images to add proposals for complete coverage"
Do we want to add the proposals to fathoment? Or just run metrics to compare the submitted images?

We haven't created this uber mega detector yet ....

[2022-01-11 17:43] hohonuuli commented on #20
__TODO:__ Setup meeting to design/implement coverage augmentation in FathomNet @kakanikatija @lonnylundsten @BGWoodward

[2022-01-25 17:00] hohonuuli commented on #20
From our 2022-01-25 Meeting:

- @BGWoodward will put together a docker container with a service where we can `POST` images and get bounding box proposals back as JSON. Expected turnaround for an image is on the order of a 1 second-ish.
- @hohonuuli Will put together:
    1. the wiring to submit un-analyzed images to the service and grab the results
    2. do analysis to compare the results to the

[2022-01-25 17:25] hohonuuli commented on #20
Discussion of our goals for _full coverage_ are on MBARI's slack channel [here](https://mbari.slack.com/archives/CL0U7KYEN/p1642696947023500).

[2022-01-25 17:56] hohonuuli commented on #19
Related to #20

[2022-01-25 19:44] hohonuuli commented on #17
Morphocluster source code lives at <https://github.com/morphocluster/morphocluster>. @kevinsbarnard was able to get it up and running quickly following the instructions in the repo. The default setup doesn't do a great job of clustering for our images, maybe use one of our models (Just strip out the classifier labels). @moi90 recommended keeping the features to 32 dimensions, more than that runs s

[2022-01-25 19:45] hohonuuli commented on #17
Note: That morphocluster only handles one dataset at a time. Usage currently requires spinning up a new instance for each dataset.

[2022-01-25 19:47] hohonuuli commented on #17
__TODO__: Run tests with Morphocluster using our own feature extractor

[2022-01-25 19:55] hohonuuli commented on #17
50k images is a low end for Morphocluster, it's more optimized for sets on the order of 5 million.

[2022-01-26 10:47] moi90 commented on #17
Regarding the clustering of the color images:
- As discussed, a very promising approach would be to use the features of the object detector model. Alternatively, one could use a model trained on ImageNet. A more advanced approach could be the autoencoder idea.
- For now, I would try to decrease the min_cluster_size to see if you are able to get more homogeneous clusters this way.

[2022-01-26 15:45] hohonuuli commented on #17
@kevinsbarnard ^^^^ When you get a minute would you try @moi90 suggestion? Thanks!

[2022-01-26 20:07] kevinsbarnard commented on #17
@hohonuuli Just ran clustering with a min cluster size of 128, 64, 32, 16, and 8 on the same set of 4758 midwater ROIs from before. I'm not sure how to quantify it, but at a glance the initial clusters are looking more homogeneous, and of course there are a lot more of them to validate. I'd be curious to try it out on benthic images as well.

![Screenshot_20220126_120453](https://user-images.githu

[2022-01-26 20:17] lonnylundsten commented on #17
Cool. It looks good to me. I'd love to see it on some of the benthic sets.

[2022-01-26 22:07] kevinsbarnard commented on #17
@lonnylundsten @hohonuuli I generated a 2-class benthic set (via m3-download) consisting of 659 ROIs total: a mix of _Chionoecetes tanneri_ and _Paragorgia arborea_ (picked because a non-expert like myself can still discern). With a min cluster size of 32, three clusters were generated, which look promising already:
![Screenshot_20220126_134712](https://user-images.githubusercontent.com/40082734/1

[2022-01-26 23:53] lonnylundsten commented on #17
Looks good, Kevin. So that’s just the morphocluster code? That’s not using the feature extractor from the yolo model? I’d like to have you walk me through the interface because It’s not super clear, for example if a cluster contains a mix of classes if there mechanism to remove a bad class from a cluster and move it to the proper cluster? I do see how this can be useful but I’m curious about that

[2022-01-27 00:09] kevinsbarnard commented on #17
@lonnylundsten Yes, these were generated using the feature extractor provided with the morphocluster repository. In the validation stage (shown in those screenshots), you can kick an ROI out of the cluster by pressing the up arrow at the top right (moves it into the parent node).

[2022-01-27 09:14] moi90 commented on #17
@lonnylundsten In order to maximize efficiency, the preferred way is not to resort the objects of inhomogeneous clusters, but to delete the cluster altogether. The objects of the inhomogeneous clusters will eventually reappear as clusters in a later iteration of the process. Or maybe the correct cluster for these objects already exists and the objects are pulled in during growing.

One tweak that

[2022-01-28 16:05] ermbutler commented on #2
I think being able to get back to the Explorer for that page is a great point. I will look into using the heading, or maybe introducing a breadcrumb, or "Back to" link specifically in top left

[2022-01-28 16:16] ermbutler opened #21 "For the concept tree search, maybe it'd be better to have the two options as a filter"
Link to description of from a separate issue: https://github.com/fathomnet/community-feedback/issues/5#issuecomment-941982439 from @tropicofdan

Summary:
A small related idea: for the concept tree search, maybe it'd be better to have the two options as a filter. If anything, it would save a click—right now if you want to keep searching for all descendants, it takes two clicks for each individual s

[2022-01-28 16:19] ermbutler opened #22 "General search: Map or concept view, a global setting or remembered in history?"
https://github.com/fathomnet/community-feedback/issues/5#issuecomment-941982439

from @tropicofdan

Summary:
For the general search: Perhaps it's something that can be a global setting? I'm probably getting too far ahead of myself, but it would be cool if users could tailor the FathomNet UI a little to their preference. For instance, some might want the concept tree as the default or others might

[2022-01-28 16:23] ermbutler commented on #22
Here's the solutions I can think of from this idea:

1. We could save in a browser for a session, or until cleared --- it is easily doable.
2. Pushing the information to the URL history. Then when you use the "Back" button you will see the state you were just in.
3. Actually incorporate backend / user model -  create setting that is adhered to in exploerer AND setting management for this in user a

[2022-01-28 16:27] ermbutler commented on #5
@tropicofdan I agree it should be a preference, or like you presented here just a filter not always presented on button click. It could be presented with checkboxes and be preserved in the user's browser cache. (Created an issue https://github.com/fathomnet/community-feedback/issues/21 for this)

Re: for general search -- I just put comments here https://github.com/fathomnet/community-feedback/iss

[2022-01-28 16:42] ermbutler commented on #8
@hohonuuli  when we meet can discuss --- wrote some notes below, but based on that....

I would suggest we review, and decide what to suppress in beta (ie. Hide features 1,2,3) against this issue, and then make new separate issues to complete the unfinished tasks mentioned here so we can monitor against those tasks before a final release -- giving them a label of some sort?

Here are my notes....

[2022-01-28 16:46] ermbutler commented on #7
Can you send the file to me when you get a chance? I can pick this up.

[2022-01-28 17:12] hohonuuli commented on #8
@ermbutler There isn't necessarily a blocker. There just isn't a single API call in place to execute this. So while it is *possible* with the current API, it's pretty cumbersome. I would temporarily hide this on the front end.

@ermbutler There's a Vuex store (`store/modules/firebase.js`), that will have the current user (including roles) for you to access.

Hide. I don't think there's any plans r

[2022-01-28 21:29] ermbutler commented on #7
Pushed icon to develop branch -- chose the white over dark logo, easier to see.
![image](https://user-images.githubusercontent.com/17165227/151623993-6c435476-7c2d-4a0d-9c5b-82f8bfcf2844.png)

[2022-02-01 18:59] kakanikatija commented on #11
@ermbutler do we need a privacy policy?

[2022-02-01 19:01] kakanikatija commented on #10
fathomnet on twitter: https://twitter.com/fathomnet

[2022-02-01 19:04] kakanikatija commented on #20
*megalodon

[2022-02-01 19:44] ermbutler commented on #11
I was just scanning the site - and reading around. You may want to get more opinions but my take, is that it would be worth having its own page.

It could generally be the same policy but slightly tailored to the nature of this site which does contain user accounts.

You could simply say this is a feature related to MBARI and we adhere to same policy (then add link) so user isn't surprised to leav

[2022-02-03 02:25] hohonuuli commented on #20
@BGWoodward  Hey, your predictor's response has output like the snippet below. Can you change it so that bbox is not a string but an array of number values  instead(like scores)?

[code]

[2022-02-03 02:51] hohonuuli commented on #20
@BGWoodward p.s. Requiring a trailing slash on the URL endpoint was a subtly evil touch. ;-)

[2022-02-03 02:58] BGWoodward commented on #20
I think I can do that. I'll double check there wasn't a reason they were a string (I can't think of one off the top of my head. re: the trailing slash, I think that was inherited from the fastapi template I based this off of. I can change that too. I'd like to take credit for being just devious enough to do that on purpose, but alas, I am not

[2022-02-03 03:05] hohonuuli commented on #20
LOL, I was tearing my hair out for about 30 minutes ... then I noticed the slash. Well played. You're the reason I'm drinking tonight.

[2022-02-03 03:05] hohonuuli commented on #20
BTW, no need to remove the slash now. I KNOW it's there.

[2022-02-10 21:09] kakanikatija opened #23 "track coverage proposals of megdetector in fathomnet db"
KK: Just food for thought: if we are tagging images with %coverage as they enter the FathomNet-verse, how are we tracking %coverage as users augment that data over time? For example, I could see a data set that's submitted by a fish person getting a lot of misses for coral and sponges in the images. Say a coral person decides to annotate that imagery, but leave the sponges to be annotated. Do we u

[2022-02-15 16:38] ermbutler commented on #8
Committed a change to develop re: above note, and address the two main concerns in issue
• Downloads - hidden from navigation on left so users cannot get there
• Submissions - Verify and Reject removed from options (now just lists "View")

[2022-03-13 21:50] hohonuuli commented on #7
Deployed in [this release](https://github.com/fathomnet/fathomnet-web-ui/releases/tag/1.0.1)

[2022-03-13 21:50] #7 closed, assigned to ermbutler

[2022-03-18 23:05] hohonuuli opened #24 "Constrain annotations to avoid typos"
ala VARS style. When folks enter a term it needs to be constrained to valid input. This requires a naming service. Now that we have both MBARI's VARS KB and a fast WoRMS name server, we can constrain the terms using whatever provider the user selects. Still need a way to allow a user to enter unconstrained terms (This was Karen Osborn's suggest)

[2022-03-18 23:14] hohonuuli opened #25 "Make the annotation boxes have adjustable line thickness"
Karen Osborn would like to have thinner lines when there's lots of boxes on an image to make annotation easier. Not sure we need this as the other boxes fades when clicked on.

[2022-03-18 23:25] hohonuuli opened #26 "Create a "leader" board of contributors"

[2022-03-18 23:26] hohonuuli opened #27 "Show contribution stats on a users about page"

[2022-03-31 17:58] mzur opened #28 "Use HTTPS by default"
Unencrypted web traffic is discouraged nowadays. I suggest that fathomnet.org should use HTTPS by default. Usually, visitors opening an HTTP URL should be redirected to the HTTPS URL.

It seems like the JavaScript isn't working on the HTTPS page, though. Probably it tries to access HTTP URLs which isn't allowed by the browser.

[2022-03-31 18:37] hohonuuli commented on #28
@mzur Yes, I totally agree. We have the the SSL layer configured and ready to roll. However, we still have to work though some issues with required HTTP headers from the backend servers getting clobbered by the proxy server when SSL is used. Once the workshop is done, we'll bump the priority of this task up.

[2022-03-31 18:40] hohonuuli commented on #28
Closing this issue as it's a duplicate of #12

[2022-03-31 18:40] #28 closed, assigned to nobody

[2022-04-04 17:18] hohonuuli opened #29 "Add a search by observer constraint to the UI"
This constraint is not currently in the `GeoImageConstraints` in the REST API and will need to be added.

[2022-04-05 20:53] kakanikatija opened #30 "Add parts annotations/localizations within FathomNet's lightweight annotation tool"
I can't figure out how to add parts annotations within the website's lightweight annotation tool

[2022-04-05 20:58] kakanikatija opened #31 "display items on the image metadata page"
display parts name along with the class in the image metadata page. right now if you have parts labeled, you only see the concept name, not the part as well (e.g., batho, house, outer filter all is shown with image metadata as batho)

[2022-04-05 21:01] kakanikatija commented on #31
would also be nice to display image size/resolution (in pixels)

[2022-04-05 21:42] hohonuuli commented on #30
I'd be impressed if you figured it out as we haven't added that yet. :-)

[2022-04-06 00:02] kakanikatija commented on #31
would also be good to display name of annotator not just verifier

[2022-04-06 00:04] kakanikatija commented on #31
would also be good for people with accounts to click on annotator/verifier name and be brought to their bios

[2022-04-07 01:47] kakanikatija opened #32 "enable search on the people page"
it is so hard to find people with the existing UI

[2022-05-26 01:11] hohonuuli opened #33 "ifdo integration"
The BIIGLE team has expressed interest in using [ifdo](https://marine-imaging.com/fair/ifdos/iFDO-overview/) as data interchange with FathomNet. Discussion is at <https://github.com/biigle/core/issues/443>. I wrote a proof-of-concept to convert a sample ifdo to FathomNet style CSV at [ifdo-to-fathomnet.sc](https://gist.github.com/hohonuuli/cd2204c5900b8c7e95559c35fdd3c0e7). Sample YAML from BIIGLE

[2022-05-26 01:35] hohonuuli commented on #33
Issue at BIIGLE: <https://github.com/biigle/core/issues/443>

[2022-07-15 18:10] kakanikatija opened #34 "navigation arrows on home page"
These no longer do anything. Please fix. :)
<img width="1165" alt="Screen Shot 2022-07-15 at 11 08 26" src="https://user-images.githubusercontent.com/26979643/179285272-95570284-90bf-4255-9d7f-372362a515ae.png">

[2022-08-16 17:36] hohonuuli commented on #12
Notes for adding CORS headers for NGINX proxies:

- [How to enable CORS in Nginx proxy server?](https://stackoverflow.com/questions/45986631/how-to-enable-cors-in-nginx-proxy-server)
- [Proxy Server - Blocked by CORS policy](https://stackoverflow.com/questions/63342306/proxy-server-blocked-by-cors-policy-no-access-control-allow-origin-header-i)

[2022-08-16 22:46] kakanikatija opened #35 "search icon on home page"
recommendation was to change search icon to something else (like explore) or remove since it doesn't actually lead to a site search, which the icon is normally associated with

[2022-08-16 22:47] hohonuuli commented on #35
Search Icon = magnifying glass on header bar.

[2022-08-16 22:50] hohonuuli commented on #34
Works on my machine .... ;-)

[2022-08-16 22:54] hohonuuli commented on #32
<http://fathomnet.org/fathomnet/#/account/people>

[2022-08-16 23:05] hohonuuli commented on #20
Related to #23

[2022-08-16 23:06] hohonuuli commented on #19
Related to #20 and #23

[2022-08-16 23:09] hohonuuli commented on #17
@kakanikatija suggests adding a gridview-like tool to FathomNet for rapid assesment/correction.

[2022-08-16 23:11] hohonuuli commented on #13
Implement on team pages as label of an individual's role: Admin, Maintenance, etc.

[2022-08-16 23:12] hohonuuli commented on #11
required for Twitter login.

[2022-08-19 22:17] hohonuuli opened #37 "Enthusiasts: Need help to host and upload images"

[2022-08-19 22:24] hohonuuli opened #38 "How to handle just image uploads so that FathomNet hosts them."
via NOAA

[2022-08-19 22:28] hohonuuli opened #39 "Create a reward system: rating"
if your contribution winds up in FathomNet, get points; could be used to quantify/improve your confidence rating or leveling up an enthusiast.

[2022-08-19 22:28] hohonuuli opened #40 "Create a reward system: badges"
Earn points toward a badge: earn expertise level in specific animal groups (e.g., level 6 in cephalopods but level 2 in geology)

[2022-08-19 22:30] hohonuuli opened #41 "Need for more metrics in the model zoo"
Participants identified the need for more metrics to be listed in the model zoo. Adding a few columns that specify mAP and inference time on the validation set would be very helpful.

[2022-08-19 22:31] hohonuuli opened #42 "Desire for more standardized requirements for submitting models to the model zoo."
Instead of self-governing, detail more stringent requirements dictating file formats and descriptions.

This will improve interoperability in the long-term as more people upload models.

[2022-08-19 22:32] hohonuuli opened #43 "Desire for an API tool to interact with the model zoo."
Provide better access to model weights, training/val lists, etc.

Index models according to target organism, habitat, etc and make it searchable.

This is worth thinking about for the future. Would be a lot of work to set something like this up but would be really valuable.

[2022-08-19 22:34] hohonuuli opened #44 "How do we assess the quality of human annotators and the annotations they produce?"
Identify regional experts
Produce instructions and best practices for human annotators wishing to submit data to FathomNet

[2022-08-19 22:36] hohonuuli opened #45 "Make change history of an annotation queryable"
How do we assess the quality of human annotators and the annotations they produce? Retain verification and change history of annotations. Make it query-able. Expose it in the UI.

[2022-08-19 22:39] hohonuuli opened #46 "How to track image preprocessing?"
In general, we discourage image preprocessing. If image is preprocessed perhaps to capture a human readable description of the pre-processing (color-corrected, particles removed, etc.). This is mostly documentation. Add to the medium article on submitting  data.

[2022-08-19 22:42] hohonuuli opened #47 "Guide or tools to enable ingesting data from a variety of annotation tools"
Ultimately this comes down to time and money. IE finding someone to build the connection as it is unlikely that this could be done in a fully automatic fashion

[2022-08-19 22:47] hohonuuli opened #48 "Include options for alternate annotation types: point, segmentation, etc"
e.g. to support CoralNet

[2022-08-19 22:49] hohonuuli opened #49 "Desire for more tutorial material for how to use segmentation or classification models"
Maybe add  "amazing ML tutorials" page to FathomNet GitHub that we can aggregate others.

[2022-08-19 22:50] hohonuuli opened #50 "Annotations and flexible taxonomy for habitat type? Perhaps included as metadata"
Maybe merge in the KB habitat nodes from the VARS KB into the worms name server

[2022-08-19 22:51] hohonuuli opened #51 "Build YOLO output format into dataset generation tools in addition to VOC and COCO"
Add to fathomnet-py

[2022-08-19 22:52] hohonuuli opened #52 "Link resources to FathomNet page more obviously (e.g., medium, youtube, github, slack)"
twitter. Also add the twitter feed to FathomNet landing page.

[2022-08-19 22:53] hohonuuli opened #53 "For data submitters, should receive an alert when someone changes the annotation or augments the collection"
- Suggestions for changes in IDs should be accompanied by an explanation for why that change is being suggested
- Comment stream per image or annotation would be a good way to facilitate collaborative work

[2022-08-19 22:53] hohonuuli commented on #53
iNaturalist: get an email when someone IDs something in your image, click link to view chat box and option to accept or reject suggestion)

[2022-08-19 22:53] hohonuuli opened #54 "Receive notifications of new images uploaded to FathomNet in their area of expertise; user selects frequency and concepts of interest"
Related to bio information?

[2022-08-19 22:54] hohonuuli opened #55 "Be able to flag an image/concept needing assistance on identification"
Note: FathomNet currently assumes that all images that are not verified needs assistance, however this is not a targeted approach. Contributors can search for concepts that are unverified in their area of expertise and target concepts that way

[2022-08-19 22:54] hohonuuli opened #56 "Map common names to animal taxonomy for search"

[2022-08-19 22:56] hohonuuli opened #57 "Provide straightforward mechanism to address name changes of animals"
Do we need a more formalized way to do this? Currently, @hohonuuli would just do bulk database change.

[2022-08-19 22:57] hohonuuli opened #58 "Provide a template for CSV upload to FathomNet"
Throw together a complete (all rows) template.

[2022-08-19 22:57] hohonuuli commented on #48
Conversion of localization shapes (circles, polygons) to be compatible with FathomNet (rectangles); enable storage of other localization types within FathomNet metadata

[2022-08-19 22:58] hohonuuli opened #59 "Conversion of point localizations to be compatible with FathomNet (rectangles)??? Not straightforward."

[2022-08-19 23:00] hohonuuli opened #60 "How to manage submission of cropped images (or ROIs) that lack localizations?"
Should this be ingested into FathomNet? Add full frame localization around image.

[2022-08-19 23:01] hohonuuli opened #61 "Enable two-way contributions between FathomNet and annotation tools (e.g., Tator, VIAME, BIIGLE, Squidle)"
This exists as we provide an API.

[2022-08-19 23:01] hohonuuli commented on #61
Done via REST API

[2022-08-19 23:01] #61 closed, assigned to nobody

[2022-08-19 23:01] hohonuuli opened #62 "Funding to support training and create demand for taxonomists"

[2022-08-19 23:02] hohonuuli opened #63 "Desire to enable high-level detections/localizations in an automated fashion and ID refinement manually in FathomNet"

[2022-08-19 23:03] hohonuuli opened #64 "Search for users/verifiers and their activity to review their contributions"
Related to #39  and #40

[2022-08-19 23:05] hohonuuli opened #65 "Allow users to select concepts of interest"
Create separate user area that allows them to select concepts of interest and review problems in taxonomy, get a message/prompt when something is added to FathomNet that matches their search terms

[2022-08-19 23:05] hohonuuli opened #66 "Receive a DOI for data upon submission to FathomNet"

[2022-08-19 23:06] hohonuuli opened #67 "Track contributor names at all stages: submitter, annotator, localizer, verifier, etc.; display those names on the website"
Tracking is done. Need to display on web site.

[2022-08-19 23:08] hohonuuli commented on #67
Need a UI to display history. See #45

[2022-08-19 23:08] hohonuuli opened #68 "Incorporate ORCID numbers into user biographies/registration so that contributions can be tracked and added to FathomNet version DOI"

[2022-08-19 23:10] hohonuuli opened #69 "Mechanisms/metrics to understand usage of data; perhaps an email/survey asking how people are using FathomNet data and provide updates"
Requires API key for all queries so we can track usage

[2022-08-19 23:11] hohonuuli commented on #39
Gamification: leaderboards to show rankings (amateur versus professional), life lists for individuals (maybe more appropriate for portal)

[2022-08-19 23:12] hohonuuli opened #70 "Certificate of recognition sent to employers of participants; mechanism to report user contributions"

[2022-08-19 23:14] hohonuuli opened #71 "How to track annotation confidence?"
Provide confidence levels for annotations before and after data are uploaded to FathomNet
Taxonomist should be able to assign a confidence level
Person requesting change should provide explanation for suggestion
Comment stream for each annotation

track confidence if user has an actual sample of the animal in the photograph.

[2022-08-19 23:15] hohonuuli opened #72 "How to resolve conflicts?"
- “It happens less than you think”
- Use of [Open Nomenclature](https://www.frontiersin.org/articles/10.3389/fmars.2021.620702/full) can help to resolve conflicts
- ID to known taxonomic level
- Track the whole discussion but not a final method to determine who is either right/wrong
- Have the ability to reject already-verified annotations. (<<< add to the UI for experts)

[2022-08-19 23:17] hohonuuli opened #73 "How do we verify a person’s taxonomic expertise for ‘expert’ access"
- Would like to know who was the source for thze ID, what are they specializing in to gauge expertise
  - Tracks person who provides image, who is making the annotation, who is making the correction, need ability to view conversations/discussions that led to the ID
  - Be able to look at person’s bios and understand their expertise, area, duration
- __Experts are nominated by other verified expert

[2022-08-19 23:18] hohonuuli opened #74 "Enable multi-tiered verification levels or confidence tiers"
- Sample that exists for this specimen
- Indicate whether specimen was examined, has a sequence, open nomenclature tags, expert debate
- Indicate whether specimen is kept or barcoded
- Open Nomenclature qualifiers for detailed info on confidence

[2022-08-19 23:19] hohonuuli commented on #74
We already do open nomenclature

[2022-08-19 23:21] hohonuuli opened #75 "Collaborate and/or integrate with other labeled datasets like CoralNet and iNaturalist"
CoralNet - accomodate polygon localizations

iNaturalist - Need temp repo where people can verify ids.

[2022-08-19 23:21] hohonuuli opened #76 "Export data and metadata from FathomNet and format for provision to GBIF and OBIS"

[2022-08-19 23:22] hohonuuli commented on #76
@kakanikatija Will talk to Abby Benson about this to make sure we have all the fields they need.

[2022-08-19 23:22] hohonuuli opened #77 "Enable search for a concept by uploading an image"

[2022-08-19 23:22] hohonuuli opened #78 "More streamlined UI for batch verification (gridview-like)"

[2022-08-19 23:26] hohonuuli opened #79 "Improved UI for adding annotations for multi-instance concepts in a single image"
Maybe make the last used concept "sticky", so creating a new annotation defaults to he last used ID. This allows people to quickly draw boxes around many objects of the same type.

[2022-08-23 23:36] hohonuuli opened #80 "Build roadmap/plan of work for beta-2"

[2022-08-24 20:00] hohonuuli commented on #76
From Abby Benson:

I looked at what you have and things are looking great so far! Really exciting to see the use of Darwin Core in your upload form 🙌

I might have shared this already so apologies for the repeat information but thought it might help to have the list of required Darwin Core terms for OBIS and where I see this information coming from in FathomNet:
eventDate = timestamp​ in optional

[2022-08-30 19:09] hohonuuli opened #81 "beta-2 completed"
GanttStart: 2022-12-29
GanttDue: 2022-12-30

[2022-08-30 19:09] hohonuuli commented on #81
GanttStart: 2022-12-30
GanttDue: 2022-12-30

[2022-08-30 19:13] hohonuuli commented on #32
GanttStart: 2022-09-15
GanttDue:  2022-09-15

[2022-08-31 18:49] hohonuuli commented on #26
From @kakanikatija

[2022-09-08 15:09] hohonuuli commented on #12
Dhugal Lindsay reported the following issues when connecting to FathomNet services. I suspect that something is trying to force all traffic to use https. https is enabled but not on the services.

First page was

Secure Connection Failed

An error occurred during a connection to [fathomnet.org:8080](http://fathomnet.org:8080/). SSL received a record that exceeded the maximum permissible length.

E

[2022-09-08 23:48] hohonuuli commented on #12
We will have both unsecured and secured endpoints. FathomNet will use only the SSL secured ones for the web site. Example changes:

- FathomNet API will be at https://fathomnet/api: <http://fathomnet.org:8080/boundingboxes/count> becomes <https://fathomnet.org/api/boundingboxes/count>
- VARS Knowledgebase will be at https://fathomnet/dsg: <http://dsg.mbari.org/kb/v1/concept> becomes <https://fatho

[2022-09-12 16:00] hohonuuli commented on #12
Running into https://github.com/micronaut-projects/micronaut-data/issues/1712 on deployment after upgrading micronaut.

[2022-09-12 21:48] hohonuuli commented on #12
SSL/CORS setup has been deployed. All traffic to <http://fathomnet.org> is redirected to <https://fathomnet.org>.

[2022-09-12 22:15] hohonuuli commented on #12
I moved the swagger ui back to <http://fathomnet.org:8080/swagger-ui> and it works normally.

The secured version at <https://fathomnet.org/api/swagger-ui> still uses the wrong path to the openapi yml file. Manually changing that to "/api/swagger/fathomnet-0.0.yml" addresses that.

[2022-09-12 22:51] hohonuuli commented on #28
Follow up note ... all FathomNet web traffic is now redirected to HTTPS.

[2022-09-13 15:46] hohonuuli commented on #12
Dhugal checked that FathomNet is working form inside JAMSTEC's fancy firewall. All is good.

[2022-09-22 16:26] Brian-RC-Kennedy opened #82 "Image number changes on every login"
The image number within a collection changes every time you log in. So if you are reviewing images and get through the first 100 then take a brake when you come back image 100 is no longer the same image on the next session meaning you have to manually click through all the images in the collection to find the place you left off.

[2022-09-22 16:31] Brian-RC-Kennedy opened #83 "Localization fail to save after a couple hundred updates per session."
I have been going through a collection of more than 5000 images to update the localizations and adding additional boxes and I have found that have saving a couple hundred in one session FamthomNet just stops saving new and updated boxes. There is no error message or anything. I draw the new box click save then advance to the next images, all like normal then if I go back to the previous image the

[2022-09-22 18:13] hohonuuli commented on #83
@Brian-RC-Kennedy Thanks for the heads up! I'll dig into this early next week.

[2022-09-29 14:42] kakanikatija opened #84 "FMZ contributions could use easy way to view training data"
From Dan Morris (AI for Conservation slack):

"My only off-the-cuff recommendation would be to include images on the model zoo README that conveys "this is the gestalt of the training data for each model"... that makes it a lot easier for a new user to judge whether the angle/color/murkiness of their images is close enough to the domain of the model to expect reasonable results, and IMO no amount

[2022-09-29 14:56] hohonuuli commented on #12
It's been a few weeks and everything is working. I'm closing this issue.

[2022-09-29 14:56] #12 closed, assigned to hohonuuli

[2022-10-04 09:34] kevinsbarnard opened #85 "Add metadata fields for camera intrinsics"

[2022-10-12 23:05] claudenozeres commented on #71
@hohonuuli, are you looking for examples of how this is done (e.g., on projects in BIIGLE), proposing best practices, or noting is an issue in FathomNet to resolve? Thanks! Claude

[2022-10-12 23:06] claudenozeres commented on #73
I _believe_ iNaturalist deals with this issue by having metrics on how often a user provides an ID that is confirmed by another.

[2022-10-12 23:08] claudenozeres commented on #85
Related to EXIF metadata (should be in file data of still images, or lost), or other aspects about cameras, especially video?

[2022-10-12 23:18] claudenozeres commented on #76
@albenson-usgs, I would also suggest other DwC fields could be of **interest**, especially as systems like FathomNet and MBARI may have names and notes that are not readily read or transferred otherwise. For example: _verbatimIdentification_ (exact name used, e.g., 'Sea Pen' rather the scientificName concept like 'Pennatulacea' that is required,  or perhaps 'jellies'--that would not have a taxonom

[2022-10-12 23:19] claudenozeres commented on #74
I am interested in how these are 'indicated' (and can be exported as data).

[2022-10-12 23:20] claudenozeres commented on #75
Re: iNaturalist. The repo is to verify on iNat or FN?

[2022-10-12 23:29] hohonuuli commented on #71
@claudenozeres We're open to guidance on this one. This issue was created from notes from user feedback surveys.

[2022-10-12 23:33] claudenozeres commented on #71
Thanks @hohonuuli . I mentioned that because a colleague (Barbara Neves) working with underwater video imagery did a recent ICES presentation on that topic. Will ask to share. Quality control is something we wonder about--going beyond annotations with names.

[2022-10-13 00:07] hohonuuli commented on #71
@claudenozeres Yes, please share the presentation!

[2022-10-13 14:18] AbbyBenson commented on #76
@claudenozeres yes agree those would be useful to include as well. Also Sea Pen and Jellies seem to be `vernacularName` so we could put those there as well.

[2022-11-01 16:47] hohonuuli commented on #72
Add threaded discussion to each bounding box?

[2022-11-01 16:53] hohonuuli commented on #72
How do we make discussions searchable/accessible? Is that important?

[2022-11-01 16:58] hohonuuli commented on #72
This is relate to tracking changes and history in #67 and #45

[2022-11-01 17:11] hohonuuli commented on #45
One idea is to add a thread of changes underneath the image in the single image view.

[2022-11-01 17:13] hohonuuli commented on #45
Need API endpoint to expose history for changes to bounding boxes

[2022-11-05 13:38] Brian-RC-Kennedy opened #86 "Need an easier way to get to a specific image number within a collection"
I am trying to work my way through a collection to look at every image and it is very hard to get back to the specific image I left off at. For example this morning I was trying to get to image 800 of 5600. When I set up the webpage to show 100 images per page then navigated to page 8 and clicked on the first image. It took me to image 715 for some reason. Then when I click the back button to get

[2022-11-17 15:56] Jordan-Pierce commented on #17
This is awesome! Have you looked at other unsupervised/self-supervised techniques other than MorphCluster (which also looks dope)?

[SimCLR ](https://ai.googleblog.com/2020/04/advancing-self-supervised-and-semi.html)is currently one of the SOTA methods.

[2022-11-20 07:50] moi90 commented on #17
Self-Supervised feature extractor training is certainly the way to go for new datasets and will increase MorphoCluster's efficiency. But in itself, it doesn't help you with annotating ;)